<form>
  <h4>Locations</h4>
  <p>Input a latitude and longitude pair (e.g. 37.900472, -122.308370) or an address e.g. 3150 Pierce St.</p>
  <div class="row">
    <div class="six columns">
      <label for="est-start-input">Start Location</label>
      <input class="u-full-width" placeholder="2650 Durant Avenue" id="est-start-input" type="text"></input>
    </div>
    <div class="six columns">
      <label for="est-end-input">End Location</label>
      <input class="u-full-width" placeholder="37.900472, -122.308370" id="est-end-input" type="text"></input>
    </div>
    <div class = "row">
      <button class="button-primary u-pull-right" id = "est-submit">Go</button>
    </div>
  </div>
</form>
<p id = "ride-answer"></p>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Service</th>
      <th>Estimated Price (USD)</th>
      <th>Estimated Duration (min)</th>
      <th>Surge/Primetime Active?</th>
    </tr>
  </thead>
  <tbody id = 'rides-list-body'>
  </tbody>
</table>

