<form>
  <h2>Locations</h2>
  <p>Input a latitude and longitude pair (e.g. 37.900472, -122.308370) or an address e.g. 3150 Pierce St.</p>
  <div class="row">
    <div class="five columns">
      <label for="startInput">Start Location</label>
      <input class="u-full-width" placeholder="2650 Durant Avenue" id="startInput" type="text"></input>
    </div>
    <div class="five columns">
      <label for="endInput">End Location</label>
      <input class="u-full-width" placeholder="3150 Pierce St" id="endInput" type="text"></input>
    </div>
    <button class="button-primary">Go</button>
  </div>
</form>
